@import url('https://fonts.googleapis.com/css?family=UnifrakturCook:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Odibee+Sans|Roboto+Mono|Special+Elite&display=swap');

::-webkit-scrollbar {
    display: none;
}
body {
    text-align: center;
    background-color: black;
    /*background-image: url(bg.png);*/
    background-size: cover;
    color: white;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='47' height='56' viewport='0 0 100 100' style='fill:white;font-size:28px;'><text y='50%'>＊</text></svg>") 16 0,auto; /*Change juste l'emoji*/

}
.caly{
  font-family: 'UnifrakturCook', cursive;
  font-size: 50px;
  font-weight: bold
  }
.roboto{
font-family: 'Roboto Mono', monospace;
font-size: 15px;
}

.odibee{
font-family: 'Odibee Sans', cursive;
}

.special{
font-family: 'Special Elite', cursive;
}


h1 {
  background-color: black;}

  .col3 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
}
.col3-1 {
  grid-column: 1;
  grid-row: 1;
}
.col3-2 {
  grid-column: 2;
  grid-row: 1;
}
.col3-3 {
  grid-column: 3;
  grid-row: 1;
}
.col3 img {
  max-width:90%;
  margin: auto;
}
